* {
  background-color: ;
}

.App {
  text-align: center;
  margin-top: 20px;
}

div h1 {
  margin-left: 5px;

}
.what {
  font-size: 2.8rem;
  text-shadow: 1px 1px 1px #80ed99;
}

.addTask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 50px;
  width: 100%px;
}

.addTask input {
  height: 30px;
  width: 400px;
  color: rgb(8, 29, 1);
  border: 1px solid teal;
  border-radius: 10px;
  cursor: pointer;
}

.addTask button {
  width: 80px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
  border: 1px solid teal;
  border-radius: 10px;
  cursor: pointer;
}
.addTask button:hover {
  color: orangered;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 10px;
  
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #80ed99;
  border-radius: 10px;
  height: 60px;
  width: 500px;
  margin: 5px auto;
}

div.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin-right: 10px;
  text-align: center;
}

.todo .delete {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
}

.todo .delete:hover {
  color: red;
}

.complete {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  border: 2px solid #80ed99;
  border-radius: 50%;
  cursor: pointer;
}

.complete:hover {
  color:  #38b000;
}